:root {
  --amplify-primary-color: #1F2937;
  --amplify-primary-tint: #374151;
  --amplify-primary-shade: #6B7280;
  --amplify-font-family: 'Poppins', sans-serif;
  --border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Livvic', sans-serif;
}

p, span, label, li, button, a {
  font-family: 'Lato', sans-serif;
}
